.App {
    height: 100vh;
    background-image: url('assets/images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
